.container {
  margin-top: 50px;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  text-align: center;
}

.title {
    font-size: 69px;
    font-weight: 700;
    text-transform: uppercase;
    /* margin: 1rem 0 0.5rem 0; */
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.description {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.6;
    text-align: center;
    max-width: 790px;
    margin-bottom: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  max-width: 790px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  /* margin-left:-5%; */

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.grid.loaded {
  opacity: 1;
}

.mapBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
<<<<<<< HEAD
=======

.cardLink {
  display: block;
  text-decoration: none;
  color: inherit;
}

.cardLink:hover {
  transform: scale(1.02);
}
>>>>>>> 095983499535cb0ef0d99cbc3d443b63f7e5caf8
